<app-breadcrumb [title]="'Olvide mi contrasña'" [breadcrumb]="'Olvide mi contrasña'"></app-breadcrumb>
<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Olvide mi contraseña</h2>
                <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="email" placeholder="Ingrese su correo de electrónico" required="">
                        </div>
                        <button class="btn btn-solid">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->