<app-breadcrumb [title]="'Login'" [breadcrumb]="'Login'"></app-breadcrumb>
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Ingresar</h3>
                <div class="theme-card">
                    <form class="theme-form">
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input type="text" class="form-control" id="email" placeholder="Ingrese su correo electrónico" required="">
                        </div>
                        <div class="form-group">
                            <label for="review">Contraseña</label>
                            <input type="password" class="form-control" id="review" placeholder="Ingrese su contraseña" required="">
                        </div>
                        <button class="btn btn-solid">Ingresar</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>Nuevo usuario</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Crear una cuenta</h6>
                    <p>Registrese gratis en nuestra tienda, el registro es rapido y sencillo, esto te permitira hacer pedidos desde nuestra tienda. Empieza a comprar haciendo click en abajo</p>
                    <button class="btn btn-solid">Create an Account</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->