<!-- thank-you section start -->
<section class="section-b-space light-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>Gracias por su compra</h2>
                    <p>El pago ha sido procesado y su artículo esta proximo a su procesado</p>
                    <p>Transacción ID:267676GHERT105467</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- order-detail section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-order">
                    <h3>Detalle de la orden</h3>
                    <div class="row product-order-detail">
                        <div class="col-3">
                            <img src="assets/images/product/fashion/1.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>Producto</h4>
                                <h5>Perfume</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>Cantidad</h4>
                                <h5>1</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>Precio</h4>
                                <h5>$555.00</h5>
                            </div>
                        </div>
                    </div>
                    <div class="total-sec">
                        <ul>
                            <li>Subtotal <span>$55.00</span></li>
                            <li>Envio <span>$12.00</span></li>
                            <li>Impuesto<span>$10.00</span></li>
                        </ul>
                    </div>
                    <div class="final-total">
                        <h3>total <span>$77.00</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row order-success-sec">
                    <div class="col-sm-6">
                        <h4>Detalle</h4>
                        <ul class="order-detail">
                            <li>orden ID: 5563853658932</li>
                            <li>Fecha: Septiembre 10, 2020</li>
                            <li>Orden Total: $907.28</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4>Dirección de envio</h4>
                        <ul class="order-detail">
                            <li>Domingo Castro</li>
                            <li>Avenida San martin 1244</li>                            
                            <li>Contacto No. 123456789</li>
                        </ul>
                    </div>

                    <div class="col-sm-12 payment-mode">
                        <h4>Método de pago</h4>
                        <p>MercadoPago</p>
                    </div>
                    <div class="col-md-12">
                        <div class="delivery-sec">
                            <h3>Fecha de entrega</h3>
                            <h2>Septiembre 13, 2020</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Section ends -->