<app-breadcrumb [title]="'Elementos'" [breadcrumb]="'Titulo'"></app-breadcrumb>
<!-- Section Start -->
<section class="section-b-space">
    
    <div class="title1">
        <h4>Historia reciente</h4>
        <h2 class="title-inner1">tendencia de productos</h2>
    </div>

    <div class="title2">
        <h4>Historia reciente</h4>
        <h2 class="title-inner2">ttendencia de productos</h2>
    </div>

    <div class="title3">
        <h4>Historia reciente</h4>
        <h2 class="title-inner3">tendencia de productoss</h2>
        <div class="line"></div>
    </div>

    <div class="title4">
        <h2 class="title-inner4">tendencia de productos</h2>
        <div class="line">
            <span>
            </span>
        </div>
    </div>

    <div class="title1 title5">
        <h4>Historia reciente</h4>
        <h2 class="title-inner1">tendencia de productos</h2>
        <hr role="tournament6">
    </div>

</section>
<!-- Section End -->