<app-breadcrumb [title]="'Registrarse'" [breadcrumb]="'Registrarse'"></app-breadcrumb>
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Crear cuenta</h3>
                <div class="theme-card">
                    <form class="theme-form">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">Nombre</label>
                                <input type="text" class="form-control" id="fname" placeholder="Nombre" required="">
                            </div>
                            <div class="col-md-6">
                                <label for="review">Apellido</label>
                                <input type="password" class="form-control" id="lname" placeholder="Apellido" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">Correo electrónico</label>
                                <input type="text" class="form-control" id="email" placeholder="Correo electrónico" required="">
                            </div>
                            <div class="col-md-6">
                                <label for="review">Contraseña</label>
                                <input type="password" class="form-control" id="review" placeholder="Ingrese su contraseña" required="">
                            </div>
                            <button class="btn btn-solid">Crear cuenta</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->