<app-breadcrumb [title]="'Contacto'" [breadcrumb]="'Contacto'"></app-breadcrumb>
<!--section start-->
<section class=" contact-page section-b-space">
    <div class="container">
        <div class="row section-b-space">
            <div class="col-lg-7 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.0857020462936!2d-68.83855258481495!3d-32.89590228093617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e09166b903239%3A0x3c8285f946e326be!2sFarmatotal%20(farmacia%20y%20ortopedia)!5e0!3m2!1ses-419!2sar!4v1599757152123!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="col-lg-5">
                <div class="contact-right">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <img src="assets/images/icon/phone.png" alt="Generic placeholder image">
                                <h6>Contactanos</h6>
                            </div>
                            <div class="media-body">
                                <p>+54 0261 429-1853</p>                                
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h6>Dirección</h6>
                            </div>
                            <div class="media-body">
                                <p>Av. José Vicente Zapata 303, M5500 Mendoza</p>                                
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <img src="assets/images/icon/email.png" alt="Generic placeholder image">
                                <h6>Correo</h6>
                            </div>
                            <div class="media-body">
                                <p>consulta@farmatotalmendoza.com</p>
                                <p>soporte@farmatotalmendoza.com</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                <h6>Wathsapp</h6>
                            </div>
                            <div class="media-body">
                                <p>+54 0261 429-1853</p>  
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
<!--         <div class="row">
            <div class="col-sm-12">
                <form class="theme-form">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Your name" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Last Name</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Email" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="review">Phone number</label>
                            <input type="text" class="form-control" id="review" placeholder="Enter your number" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="review">Write Your Message</label>
                            <textarea class="form-control" placeholder="Write Your Message" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-solid" type="submit">Send Your Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
    </div>
</section>
<!--Section ends-->